Website
{
  IconLocation = /DIRAC/images/iface/gear.gif
  Schema
  {
    Belle 2
    {
      Projects
      {
        Projects = systems/projects/overview, Project Overview, authenticated
      }
      Administration
      {
        Sites Management = systems/sitemanagement/browseSites, Sites Software Browser, all #CSAdministrator
        Users Browser = systems/sitemanagement/browseUsers, Users Browser, CSAdministrator
      }
      Help
      {
        gBasf2 installation = External/display?site=https://belle2.cc.kek.jp/~twiki/bin/view/Computing/GBasf2, gBasf2, all
      }
      # Datasets
      # {
      #   Transfer datasets = systems/datasets/transfer, Transfer Datasets, all
      #   Browse datasets = systems/datasets/browse, Dataset Browser, all
      # }
    }
  }
}
